* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Arial' , sans-serif;
}

/*HEADER*/

.header {
    background-image: url(../img/parquet-header.jpg);
}

.header-row {
    height: 100px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.form-contact h2 {
    font-size: 45px;
}

.header-left h2 {
    font-size: 45px;
    color: white;
    font-family: initial;
    padding-top: 20px;
}

.header-midl {
    text-align: center;
    font-size: 20px;
    padding-top: 35px;
    word-spacing: 35px;
}

.a-top {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.a-top-header {
    text-decoration: none;
    color: white;
    font-size: 20px;
    word-spacing: 7px;
}

.a-top-header:hover {
    color: black;
}

.a-top:hover {
    color: black;
}

.header-right {
    text-align: center;
    padding-top: 28px;
    font-size: 30px;
}

.header-right a {
    color: black;
}

.icon-header:hover {
    color: black;
}

.facebook-haeder:hover {
    color: black;
}

nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    display: none;
}
nav .mainMenu {
    display: flex;
    list-style: none;
    text-align: center;
    transition: all 1s ease;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}
nav .openMenu {
    font-size: 2rem;
    margin: -3px;
    display: none;
    cursor: pointer;
    transition: top 1s ease;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

/*FIN HEADER*/
/*MAIN*/


/*INDEX-CONTACT.HTML*/
.contact {
    display: flex;
    margin-top: 110px;
}

.contactez-nous {
    background: #e9e9e9;
    height: 400px;
}

.contactez-nous h5 {
    margin-left: 5px;
}

.contact-home {
    display: flex;
    margin-top: 25px;
}

.contact-left {
    max-width: 250px;
    max-height: 263px;
    margin: auto;
}

.contact-left h4 {
    font-size: 18px;
    font-weight: 600;
}

.contact-left h5 {
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}

.icon-home {
    width: 24px;
    height: 24px;
}

.contact-main-right {
    background: white;
}

.cotact-tel {
    display: flex;
    margin-top: 10px;
}

.cotact-tel h5 {
    margin-left: 10px;
}

.contact-mail {
    display: flex;
    margin-top: 10px;
}

.contact-mail h5 {
    margin-left: 12px;
}

.form-contact {
    padding: auto;
}

.form__title {
    font-size: 50px;
    margin-left: 15px;
}

.input-form-1 {
    width: 260px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 18px;
    margin-right: 19px;
}

.input-form-2 {
    width: 260px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 18px;
}

.input-form-3 {
    width: 260px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 18px;
    margin-right: 19px;
}

.input-form-4 {
    width: 260px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 18px;
}

.form__button {
    font-size: 25px;
    padding: 7px 120px 7px 120px;
    margin: 0 0 5px 0;
    background: #6c4327;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #6c4327;
}

.form-message-form {
    float: left;
    width: 540px;
    margin-bottom: 20px;
    font-size: 18px;
}

.form-message-br {
    display: none;
}

form {
    margin: ;
    max-width: 540px;
    margin: auto;
    margin-top: 100px;
}

.contact-input-nom-prenom {
    display: flex;
}

.contact-input {
    margin-bottom: 50px;
}

.contact-input h4 {
    font-size: 20px;
}

.contact-input-email-tel {
    display: flex;
}

.adresse-left {
    margin: 3px 12px 0 0;
}
.main img {
    width: 420px;
    height: 350px;
}

.slider {
    margin-top: 50px;
}

.logo1 {
    float: right;
}

.logo {
    float: left;
}

/*FIN INDEX-CONTACT.HTML*/
/*main*/

.main-index h3 {
    margin-top: 70px;
}

.main-index h5 {
    margin-top: 50px;
    line-height: 30px;
}

.close {
    float: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.main-index-1 h3 {
    margin-top: 40px;
}

.main-index-1 h5 {
    margin-top: 30px;
    line-height: 30px;
}

.main-1px {
    display: none;
}

.main .container .row {
    display: flex;
}

/*FIN MAIN*/
/*FOOTER*/

.footer {
    background: url(../img/parquet-footer.jpg);
}

#map {
    width: 100%;
    height: 330px;
    margin: 20px 0 20px 0;
    border-radius: 5px;
}

.footer-left-top {
    margin: 20px 0 20px 0;
}

.footer-left-top h3 {
    margin: 0 0 15px 0;
    font-size: 25px;
    color: white;
}

.footer-left-top p {
    color: white;
}

.footer-a-left-top {
    padding: 8px 50px 8px 50px;
    background: white;
    color: black;
    text-decoration: none;
}

.footer-a-left-top:hover {
    color: black;
}

.icon-footer-left-a {
    margin: 0 8px 0 0;
}

.footer-left-bottom {
   padding: 15px 0 0 0;
}

.footer-left-bottom-i {
    margin: 4px 13px 0 0;
}

.footer-left-bottom-adresse {
    display: flex;
}

.footer-left-bottom-phone {
    display: flex;
    margin: 0 0 10px 0;
}

.fas {
    font-size: 20px;
}

.footer-left-bottom-i-phone {
    margin: 1px 13px 0 0;
    font-size: 25px
}

.footer-left-bottom-email {
    display: flex;
    margin: 0 0 10px 0;
}

@media (max-width: 1400px) {
    .footer-left-top h3 {
        font-size: 22px;
    }
}
@media (max-width: 1200px) {
    .input-form {
        width: 300px;
    }
    .form-message-form {
        width: 400px;
    }
    .br-footer {
        display: none;
    }
    .footer .container .row {
        display: block;
    }
    .col-md-footer {
        margin: auto;
    }
    .footer {
        padding: 20px 0 20px 0;
    }
    .footer .container .row .col-md-5 {
        width: 600px;
    }
    .footer .container .row .col-md-7 {
        width: 600px;
    }
    .footer-left-top h3 {
        font-size: 25px;
    }
    nav {
        display: block;
    }
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
        transition: top 1s ease;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .header-right-a {
        display: none;
    }
    .header-a {
        display: none;
    }
    .main-1px {
        display: block;
        margin-bottom: 30px;
    }
    .main .container .row .main-1 {
        display: none;
    }
    .slider-12px {
        margin: auto;
    }
    .slider1 {
        margin-top: 50px;
        float: left;
    }
    .slider-1px h5 {
        line-height: 30px;
        margin-top: 50px;
    }
    .main-index-1 {
        display: none;
    }
    .slider1 {
        margin: auto;
    }
    .slider {
        margin-bottom: 50px;
    }
    .slider img {
        width: 375px;
    }
    .slider img {
        float: none;
    }
    .slider-12px {
        margin: auto;
    }
    .slider-1px {
        margin: auto;
    }
}

@media (max-width: 994px) {
    .form-message-br {
        display: block;
    }
}

@media (max-width: 992px) {
    .input-form {
        width: 200px;
    }
    .form-message-form {
        width: 300px;
    }
    .form__button {
    font-size: 20px;
    padding: 7px 60px 7px 60px;
    margin: 0 0 5px 0;
    }
    .burger {
        display: block;
        float: right;
    }
    .header-top .header-right {
        float: right;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    .input-form-1 {
    width: 200px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 13px;
    margin-right: 19px;
    }

    .input-form-2 {
    width: 200px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 13px;
    }

    .input-form-3 {
    width: 200px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 13px;
    margin-right: 19px;
    }

    .input-form-4 {
    width: 200px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 13px;
    }
    .contact-left h5 {
        font-size: 14px;
    }
    #map {
        width: 575px;
    }
    .slider1 {
        float: none;
    }
    .slider {
        width: 375px;
    }
    .slider img {
        width: 300px;
        height: 300px;
    }
}
@media(max-width: 991px) {
    .slider-1px {
        float: left;
        margin: 0;
        margin-left: 150px;
    }
}

@media (max-width: 777px) {
    nav {
        float: right;
    }
}

@media (max-width: 770px) {
    .slider img {
        width: 300px;
    }
}

@media (max-width: 768px) {
    nav {
        float: right;
    }
    .form-message-br {
        display: block;
    }
    .slider-1px h3 {
        position: relative;
        left: 0px;
    }
    .slider-1px h5 {
        position: relative;
        left: 0px;
    }
    .slider-12px {
        float: left;
        margin: auto;
    }
}
@media (max-width: 767px) {
    #map {
        width: 516px;
    }
    .slider-12px {
        float: left;
        margin: 0;
    }
    .slider1 {
        margin: auto;
    }
    .slider img {
        width: 375px;
    }
    .slider-1px {
        margin-left: 0px;
    }
}
@media (max-width: 560px) {
    .contact-input {
        max-width: 260px;
        margin: auto;
    }
    .contact-input-nom-prenom {
        display: block;
    }
    .contact-input-email-tel {
        display: block;
    }
    .header-left h2 {
        font-size: 45px;
    }
}
@media (max-width: 560px) {
    form {
        margin: 30px 0 30px 0;
    }
}
@media (max-width: 540px) {
    #map {
        width: 490px;
    }
}
@media(max-width: 516px) {
    #map {
        width: 460px;
    }
}
@media(max-width: 486px) {
    #map {
        width: 420px;
    }
}
@media (max-width: 450px) {
    .header-left h2 {
        font-size: 28px;
        margin-top: 12px;
    }
}
@media(max-width: 446px) {
    #map {
        width: 380px;
    }
}
@media(max-width: 396px) {
    #map {
        width: 340px;
    }
}
@media(max-width: 366px) {
    #map {
        width: 300px;
    }
}
@media (max-width: 350px) {
    .form-message-form {
        width: 260px;
    }
}

@media (max-width: 421px) {
    #map {
        width: 370px;
    }
}

@media (max-width: 398px) {
    .slider img{
        width: 380px;
    }
}

@media (max-width: 380px) {
    .slider img{
        width: 360px; 
    }
}

@media (max-width: 360px) {
    .slider img{
        width: 340px;
    } 
}

@media (max-width: 340px) {
    .slider img{
        width: 320px;
    } 
}

@media (max-width: 392px) {
    #map {
        width: 340px;
    }
}

@media (max-width: 360px) {
    #map {
        width: 295px;
    }
}
/*FIN FOOTER*/